<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="w3-container w3-margin">
  <div class="w3-panel w3-pink">
 <h1 class="w3-wide"> <i class="material-icons">wb_incandescent</i> ABOUT LIZ'S SHOP </h1>

    </head>
  
  </div>

<div class="w3-container w3-light-grey">
<p>Liz's shop was created in 2018 and strives to be the best shop in the entire world. 
  We sell lots of different things. We ship items straight to your door, but we can also be found at your local retailer.
  <br><br><br><br><br><br><br><br><br><br><br> </p>
</div>

  <br>

<div class="w3-card-4">

<header class="w3-container w3-pale-red w3-cell">
 <p class="w3-wide">Meet Liz</p>
</header>

<div class="w3-container w3-cell">
  <p>Liz Spila is origionally from Chicago, Illinois. She attends DePaul University and is graduating in March 2018.</p>
</div>

<footer class="w3-container w3-pale-red w3-cell">
  <p class="w3-wide"> <i> Thanks for shopping! </i></p>
</footer>

</div>
  </div>
  
</html>
