<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



<div class="w3-container w3-margin">
  <div class="w3-panel w3-pink">
    <h1 class="w3-wide"> <i class="material-icons">favorite_border</i> STORE HOME PAGE </h1> 

</div>


</head>

<div class="w3-container w3-light-grey">
  <h><br> <b>Welcome to Liz's Store Home Page. </b> </h>
  <p>This is where you can find information about the shop. This is a shopping cart application where you may order items. 
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> </p>
</div>

    </div>
</html> 
